.gradient-custom {
    background: rgb(193,31,31);
    background: linear-gradient(90deg, rgba(193,31,31,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
 }
#typeuserNameX, #typePasswordX{
    margin:auto;
    width:75%;
}